* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     background-color: #101010;
     padding: 10px;
}
body::selection {
     background-color: transparent;
}

.title{
      display: inline-block;
      text-decoration: none;
      color: rgb(199, 199, 199);
      padding: 15px 0 10px 40px;
      cursor: pointer;
}

.view-container {
     width: 1400px;
     margin: 0 auto;
     text-align: justify;
     font-family: sans-serif;
     font-size: 25px;
     word-spacing: 5px;
     line-height: 35px;
}

.input {
     display: flex;
     justify-content: center;     
}
#input {
     border: none;
     background-color: #101010;
     color: #101010;
     outline: none;
     
}

.para {
     height: 270px;
     overflow: hidden;
     padding: 10px 40px 10px 40px;
}
